body{
    background-color: rgb(255, 255, 255);

font-size: 30px;
text-align: justify;
color:rgb(0, 0, 0);
}
h1 { 
    color:rgba(63, 63, 253, 0.493);
    font-size: 50px;
    text-align: center;
}